@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

a:not([href]):hover {
 opacity: inherit;
}

button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.3;
}

button:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

select:hover {
  opacity: 0.6;
}

select:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

input:hover {
  opacity: 0.6;
}

input:active {
  opacity: 0.3;
}

input:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
}

select:active {
  opacity: 0.3;
}

select:disabled, button:disabled, a:disabled , input:disabled, label:disabled  {
  opacity: 0.3;
}

button, a, label {
  cursor: pointer;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1169px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1169px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-header-top-panel-text {
  color: #EE3643;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.37px;
}

.page-header-top-panel-adress {
  color: #32425C;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  top: -2px;
  margin-left: 182px;
}

.page-header-top-panel-tel {
  color: var(--basic-grey-click, #293449);
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.search-popup-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.search-popup-input {
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: inherit;
}

.logo-wrapper-button {
  color: var(--basic-background, #F1F5F7);
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: none;
  margin-left: auto;
}

.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-link {
  color: #FFF;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.page-header-top-panel .container {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0;
}

.logo-wrapper .container {
  display: flex;
  align-items: center;

}

.logo-wrapper {
 background: #293449; 
 position: relative;
}

.navigation-wrapper {
  background: #3D546F;
}

.navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 18px 0;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  min-width: 773px;
  max-width: 750px;
  margin-left: 2px;
}

.navigation-wrapper-order-button {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 13px;
  border-radius: 4px;
  background: #63A63E;
}

.hero-grid-item.materials {
  background: #FFBF47;
}

.hero-grid-item.tools {
  background: #3BBCE3;
}

.hero-grid-item.equipment {
  background: #DC91D8;
}

.hero-grid-item.discounts {
  background: #8ED78F;
}

.hero-grid-item.delivery {
  background: #FFBF47;
}

.hero-grid-item.slider-box {
  position: relative;
}

.hero-grid-item-title {
  color: #FFF;
  font-size: 24px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.hero-grid-item-link {
  color: var(--white, #fff);
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 9px;
  position: relative;
  min-width: 160px;
}

.hero-grid-item-description {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.page-header {
  margin-bottom: 52px;
}

.hero-grid.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 180px);
  gap: 29px;
  margin-bottom: 50px;
}

.hero-grid-item {
  padding: 20px 25px 33px 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-grid-item.slider-box {
  grid-column: span 2;
  grid-row: span 2;
}

.hero-grid-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog-filter {
  max-width: 220px;
}

.product-wrapper {
  max-width: 876px;
}

.catalog-box-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  margin-bottom: 29px;
  padding: 27px 27px 23px 27px;
  box-sizing: border-box;
  position: relative;
}

.product-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 0 33px;
}

.product-item-title {
  color: var(--basic-grey-click, #293449);
  text-align: center;
  font-size: 20px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
  max-width: 180px;
}

.catalog-filter-title {
  color: #000;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  left: 34px;
  top: 3px;
}

.pagination-item {
  border-radius: 2px;
  background: #3D546F;
  color: #FFF;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item.pagination-button {
  width: auto;
  background: #EE3643;
  padding: 15px 37px;
  box-sizing: border-box;
  position: relative;
  left: 10px;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.advantages-box-wrapper {
  padding: 25px 0 0 0;
}

.advantages-list-wrapper {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-box {
  background: #F4F7F9;
  margin-bottom: 52px;
}

.advantages-box-title {
  color: var(--basic-grey-click, #293449);
  text-align: center;
  font-size: 36px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.advantages-box-decription {
  color: var(--basic-grey-click, #293449);
  text-align: center;
  font-size: 18px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 556px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.advantage-item {
  border-radius: 2px;
  background: var(--white, #FFF);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  max-width: 370px;
  padding: 24px 34px 29px 31px;
  box-sizing: border-box;
  margin-bottom: 53px;
}

.advantage-item-title {
  color: var(--basic-grey-hover, #32425C);
  font-size: 24px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 37px;
}

.advantage-item-description {
  color: #000;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contacts-box-content {
  max-width: 550px;
}

.contacts-box-title {
  color: var(--basic-grey-click, #293449);
  font-size: 36px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 23px;
  letter-spacing: 0.24px;
}

.contacts-decription {
  color: var(--basic-grey-click, #293449);
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 29px;
}

.contacts-box-map {
  max-width: 500px;
}

.contacts-box.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 41px;
}

.contacts-link.red-button {
  border-radius: 2px;
  background: #EE3643;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 41px;
  margin-top: 52px;
  display: block;
  max-width: 115px;
}

.footer-column-wrapper {
  background: #32425C;
}

.footer-column-second-wrapper {
  background: #293449;
}

.page-footer-text {
  color: #F3F7F9;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 23px;
}

.page-footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer-column-heading {
  color: #FFF;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-top: 15px;
  text-align: right;
}

.page-footer-column-mail {
  color: #FFD180;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 29px;
  text-align: right;
}

.signup-email-input {
  color: var(--basic-neutral, #BDBDBD);
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
  min-width: 186px;
}

.signup-email-input {
  color: var(--basic-neutral, #BDBDBD);
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 11px 16px 11px 16px;
}

.page-footer-column.right-column {
  display: flex;
  flex-direction: column;
}

.page-footer-text-before-form {
  color: var(--basic-white, #FFF);
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  margin-bottom: 2px;
}

.footer-copywrite {
  color: #FFF;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer-developer-text {
  color: #FFF;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer-dev-link {
  color: #FFD180;
  text-decoration: none;
}

.footer-column-second-wrapper-inner {
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column-wrapper-inner.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header-top-panel-tel {
  position: relative;
  letter-spacing: 2.61px;
  margin-left: auto;
}

.page-header-top-panel-tel::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background: url(../img/phone-icon.svg);
  left: -20px;
}

.logo-wrapper-img {
  margin-bottom: -5px;
}

.search-popup-input {
  background: inherit;
}

.search-popup::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/search-icon.svg);
  left: -20px;
  top: 5px;
}

.search-popup {
  position: relative;
  margin-left: 40px;
}

.logo-wrapper-button {
  position: relative;
  padding: 0;
}

.logo-wrapper-button::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background: url(../img/enter-icon.svg);
  left: -28px;
  top: 1px;
}

.hero-grid-item-link::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  background: url(../img/arrow-right.svg);
  left: -5px;
  top: 2px;
  position: relative;
}

.slider-box .hero-grid-item-link::before {
  display: none;
}

.slider-box .hero-grid-item-link {
  background: #EE3643;
  min-width: 177px;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-top: auto;
  padding: 14px 9px;
}

.slider-box .hero-grid-item-wrapper {
  justify-content: initial;
}

.prev-slide {
  width: 50px;
  height: 50px;
  border: none;
  background: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 19px;
  top: 46%;
}

.next-slide {
  width: 50px;
  height: 50px;
  border: none;
  background: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 46%;
}

.navigation-wrapper-favourite {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background: url(../img/bookmark-icon.svg);
  position: relative;
  right: -9px;
}

.navigation-wrapper-cart {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background: url(../img/cart-header.svg);
}

.user-shop-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 310px;
}


.sticker {
  position: relative;
}

.sticker::before {
  display: block;
  content: '';
  width: 70px;
  height: 70px;
  background: url(../img/new-icon.svg);
  right: 0;
  top: 0;
  position: absolute;
}

.sort-select {
  border-radius: 2px;
  border: 1px solid #3D546F;
  background: #FFF;
  min-width: 279px;
  padding: 8px 11px;
  color: var(--basic-grey-click, #293449);
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 31px;
  margin-top: 31px;
  margin-left: 5px;
}

button.range-toggle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid var(--basic-grey, #3D546F);
  background: var(--basic-white, #FFF);
}

.catalog-filter-bar-scale {
  width: 181px;
  height: 2px;
  background: #3D546F;
}

.catalog-filter-bar-scale-range {
  background: #5FBB2D;
  width: 75px;
  height: 2px;
  position: relative;
  top: -2px;
}

.catalog-filter-scale {
  border-radius: 2px;
  background: #F7F3EC;
  padding: 10px 19px;
  position: relative;
  height: 40px;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.range-toggle.range-toggle-min {
  position: absolute;
  top: 10px;
}

.range-toggle.range-toggle-max {
  position: absolute;
  top: 10px;
  left: 90px;
}

.catalog-filter-bar {
  position: relative;
  top: 10px;
}

.controls-price-min {
  border-radius: 2px;
  background: linear-gradient(0deg, #F7F3EC 0%, #F7F3EC 100%), #F7F3EC;
  width: 95px;
  height: 40px;
  border: none;
  color: var(--basic-grey-click, #293449);
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}

.controls-price-max {
  border-radius: 2px;
  background: linear-gradient(0deg, #F7F3EC 0%, #F7F3EC 100%), #F7F3EC;
  width: 95px;
  height: 40px;
  border: none;
  color: var(--basic-grey-click, #293449);
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}

.middle-filter-range-line {
  width: 8px;
  height: 1px;
  background: #293449;
}

.middle-filter-range {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-filter-range-controls-price-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group.range {
  margin-bottom: 40px;
}


.popup-login-list .control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.control {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  margin-left: -1px;
  color: #000;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.control::before {
  content:" ";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../img/checkbox-default.svg");
  margin-right: 14px;
  background-repeat: no-repeat;
}

.control-input:checked + .control::before{
  background-image: url("../img/checkbox-checked.svg");
}

.catalog-filter .control-radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.control-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 16px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.control-radio::before {
  content: " ";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-default.svg);
  margin-right: 18px;
  background-repeat: no-repeat;
  position: relative;
  left: 4px;
}

.control-radio-input:checked + .control-radio::before{
  background-image: url("../img/radio-checked.svg");
}

.manufacturer-group, .energy-group {
  margin-bottom: 35px;
}

.button-apply {
  border-radius: 2px;
  border: 2px solid #3D546F;
  background: #FFF;
  min-width: 220px;
  height: 40px;
  color: #32425C;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product-item-oldprice {
  color: #A9A9A9;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: line-through;
  max-width: 100px;
  margin-bottom: 11px;
  min-height: 18px;
}

.product-item-newprice {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  min-width: 139px;
  min-height: 40px;
  background: url(../img/price-background.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.shop-button-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 11px;
}

.buy-button {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 11px 24px;
  background: #63A63E;
  text-decoration: none;
}

.add-to-favourite {
  color: #32425C;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  border: 2px solid #63A63E;
  background: #FFF;
  padding: 11px 10px;
}

.buy-button::before {
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  background: url(../img/cart-icon-button.svg);
  position: relative;
  left: -5px;
  top: 1px;
}

.shop-button-group {
  display: none;
  position: absolute;
}

.product-item:hover .product-item-img {
  opacity: 0.1;
}

.product-item:hover .shop-button-group {
  display: inline-flex;
}

.pagination-item.current-item {
  background: #FFF;
  color: #3D546F;
}

.footer-social-item a {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  display: block;
}

.pinterest {
  background: url(../img/pinterest.svg);
}

.vk {
  background: url(../img/vk.svg);
}

.vsco {
  background: url(../img/vsco.svg);
}

.page-footer-social-list {
  display: flex;
  gap: 5px;
  margin-bottom: 34px;
}

.subscribe-form-button {
  background: url(../img/mini-icon-cart.svg), #63A63E;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
}

.subscribe-form-box-wrapper {
  display: flex;
  align-items: center;
}

.subscribe-form-box-wrapper {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--basic-green, #63A63E);
  background: var(--basic-white, #FFF);
}

.login-popup-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

.popup-login-group.remember-me {
  border: none;
  margin: 0;
  padding: 0;
}

.login-popup {
  border-radius: 2px;
  background: var(--white, #FFF);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 22px 29px 35px 31px;
  min-width: 360px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.login-popup-legend {
  color: #000;
  font-size: 24px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.close-popup {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/close-popup.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 20px
}

.popup-login-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-button-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-popup-name-input {
  border-radius: 2px;
  color: #000;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid var(--basic-greylight, #C5C5C5);
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 7px;
}

.login-popup-area-input {
  border-radius: 2px;
  color: #000;
  font-size: 16px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid var(--basic-greylight, #C5C5C5);
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.login-popup-quick-link {
  color: #000;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.login-popup .control {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  margin-left: 0;
  color: #000;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.login-popup-quick-links {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.popup-login-item {
  display: flex;
  align-items: center;
}

.login-button-navigation-enter {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #63A63E;
  text-decoration: none;
  padding: 11px 26px 11px 26px;
  border: 2px solid var(--basic-green, #63A63E);
  margin-right: 5px;
}

.login-button-navigation-item-registr {
  color: #32425C;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 9px;
  border-radius: 2px;
  border: 2px solid var(--basic-green, #63A63E);
  box-sizing: border-box;
}

.login-button-navigation {
  display: flex;
  flex-wrap: wrap;
}

.login-button-navigation-enter::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  background: url(../img/enter-white-icon.svg);
  left: -5px;
  top: 2px;
  position: relative;
}

.popup-switcher {
  display: none;
}

.login-success {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background: var(--white, #FFF);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  max-width: 360px;
  padding: 22px 31px 33px 31px;
  display: none;
}

.login-success-title {
  color: #000;
  font-size: 24px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.login-success-orders, .login-success-lk {
  color: var(--basic-grey, #3D546F);
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.login-button-navigation-item-exit {
  color: #32425C;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 9px;
  border-radius: 2px;
  border: 2px solid var(--basic-green, #63A63E);
  box-sizing: border-box;
  max-width: 145px;
}

.login-success-orders {
  margin-bottom: 23px;
}

.login-success-lk {
  margin-bottom: 24px;
}

.catalog-product-title {
  margin: 0;
  color: var(--basic-grey-click, #293449);
  font-size: 36px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 26px;
  letter-spacing: 0.4px;
}

.search-popup-input::placeholder {
  position: relative;
  left: 10px;
}

.materials .hero-grid-small-img {
  position: relative;
  left: -19px;
  top: 6px;
}

.tools .hero-grid-small-img {
  position: relative;
  left: -13px;
  top: 6px;
}

.equipment .hero-grid-small-img {
  position: relative;
  left: -14px;
  top: 5px;
}

.discounts .hero-grid-small-img {
  position: relative;
  left: -13px;
  top: 4px;
}

.delivery .hero-grid-small-img {
  position: relative;
  left: -10px;
  top: 4px;
}

.slider-box .hero-grid-item-title {
  color: #FFF;
  font-size: 36px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.hero-grid-item.slider-box {
  padding: 48px 25px 41px 50px;
}

.product-item-img {
  margin-bottom: 13px;
}

.product-item-newprice span {
  position: relative;
  left: -7px;
}

.catalog-filter-title.manufacturer {
  margin-bottom: 17px;
}

legend.catalog-filter-title.energy {
  margin-bottom: 16px;
}

.text-garanty {
  position: relative;
  left: 3px;
  top: -3px;
}

.text-loan {
  position: relative;
  top: -3px;
}

img.footer-logo-img {
  margin-bottom: 11px;
}