@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

a:not([href]):hover {
 opacity: inherit;
}

button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.3;
}

button:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

select:hover {
  opacity: 0.6;
}

select:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 3px;
  outline-offset: 3px;
}

input:hover {
  opacity: 0.6;
}

input:active {
  opacity: 0.3;
}

input:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
}

select:active {
  opacity: 0.3;
}

select:disabled, button:disabled, a:disabled , input:disabled, label:disabled  {
  opacity: 0.3;
}

button, a, label {
  cursor: pointer;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  box-sizing: border-box;
  padding: 0 40px;
  background: #F2F2F2;
}

html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 70px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  padding: 19px 16px;
  position: relative;
  display: inline-block;
}

.logo-wrapper {
  margin-right: 29px;
  position: relative;
  z-index: 5;
}

.user-nav {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 257px;
  gap: 25px;
  align-self: center;
}

.user-nav-action-link {
  padding: 8px 30px;
  min-width: 160px;
  max-height: 36px;
  display: block;
  background: #756157;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 7px;
  position: relative;
  top: -8px;
}

.user-nav-search {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background: none;
  background-image: url(../img/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.user-nav-favourite {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background: none;
  background-image: url(../img/heart.svg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;  
}

.user-nav-favourite-number {
  position: absolute;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  top: -11px;
  right: -8px;
}

.hero-block {
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #89b35c url(../img/hero-background.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 69px;
  margin-top: -16px;
  background-repeat: no-repeat;
}

.hero-block-img {
  position: relative;
  top: -15px;
}

.hero-block::after {
  content: "";
  display: block;
  background: url(../img/triangle.svg);
  min-width: 1200px;
  height: 57px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
  background-position: center;
}

.hero-block-subtitle {
  width: 188px;
  height: 45px;
  background-image: url(../img/welcome.svg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.hero-block-subtitle::after {
  width: 256px;
  height: 29px;
  background-image: url(../img/to-the-gorgeous.svg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  left: -33px;
  background-repeat: no-repeat;
}

.hero-block-title {
  width: 457px;
  height: 213px;
  background-image: url(../img/sedona.svg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.hero-block-subtitle {
  margin-bottom: 94px;
  margin-top: -30px;
}

.about-box {
  margin-bottom: 64px;
}

.about-box-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-box-decription {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 90px;
}

.about-box-squares {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  list-style: none;
}

.square-item-content {
  width: 400px;
  flex-shrink: 0;
  min-height: 385px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.square-item-picture {
  flex-grow: 1;
  position: relative;
}

.square-item-has-picture {
  grid-column: 1/-1;
}

.about-box-square-item-dark {
  color: #FFFFFF;
  background: #82B3D3;
}

.about-box-square-item-dark .square-item-description {
  color: #FFFFFF;
}

.about-box-square-item-dark .square-item-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.about-box-square-item-light {
  background: rgba(131, 179, 211, 0.2);
}

.about-box-square-item-very-light {
  background: rgba(131, 179, 211, 0.12);
}

.square-item-picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-box-square-item {
  display: flex;
}

.about-box-third, .about-box-fourth, .about-box-fifth {
  color: #000000;
}

.about-box-third, .about-box-fifth, .item-home, .item-present {
  background: rgba(131, 179, 211, 0.12);
}

.about-box-fourth {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.about-box-second {
  background: #8cb2d0 url(../img/true-city.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}

.about-box-sixth {
  background: #8cb2d0 url(../img/bridge.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}

.square-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 180px;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  color: #000000;
}

.about-box-square-item-dark .square-item-title {
  color: #FFFFFF;
}

.square-item-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 230px;
  margin: 0;
  color: #333333;
}

.about-box-first .square-item-description, .about-box-seventh .square-item-description {
  color: #FFFFFF;
}

.square-item-title::after {
  width: 60px;
  height: 2px;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  left: 60px;
  bottom: -32px;
}

.about-box-first .square-item-title::after, .about-box-seventh .square-item-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-box-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.advantages-box-decription {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 64px;
}

.advantages-box-wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0;
  list-style: none;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 385px;
  padding: 20px;
  box-sizing: border-box;
}

.advantage-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
}

.advantage-item-img {
  margin-bottom: 30px;
  position: relative;
  top: -4px;
}

.advantage-item-description {
  max-width: 230px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.about-box.container, .advantages-box.container {
  padding: 0;
}

section.call-to-action.container {
  min-height: 406px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.call-to-action-link {
  padding: 8px 50px;
  min-width: 377px;
  height: 52px;
  background: #756157;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
}

h2.call-to-action-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  margin-top: -33px;
}

.call-to-action-decription {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
  max-width: 592px;
}

.email-block.container {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #615048 url(../img/form-background.jpg);
  background-size: cover;
  padding: 20px;
  background-repeat: no-repeat;
  margin-top: -17px;
}

.email-block-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: -12px;
  margin-bottom: 20px;
}

.email-block-decription {
  margin-top: 0;
  margin-bottom: 54px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  max-width: 475px;
}

.subscribe-form-box {
  min-width: 684px;
}

.signup-email-input {
  min-width: 452px;
  min-height: 52px;
  box-sizing: border-box;
  padding: 10px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  border: inherit;
  border-radius: 4px 0px 0px 4px;
}

.subscribe-form-button.button {
  min-width: 232px;
  min-height: 52px;
  box-sizing: border-box;
  background: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: inherit;
}

li.footer-social-item {
  list-style: none;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 120px;
  align-items: center;
}

.vk {
  width: 24px;
  height: 14px;
  background-image: url(../img/vk.svg);
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
}

.telegram {
  width: 18px;
  height: 15px;
  background-image: url(../img/telegram.svg);
  background-size: cover;
  display: block;  
  background-repeat: no-repeat;
}

.youtube {
  width: 22px;
  height: 17px;
  background-image: url(../img/youtube.svg);
  background-size: cover;
  display: block;
  background-repeat: no-repeat;  
}

.vk:hover {
  background-image: url(../img/vk-2.svg);
  opacity: 1;
}

.telegram:hover {
  background-image: url(../img/telegram-2.svg);
  opacity: 1;
}

.youtube:hover {
  background-image: url(../img/youtube-2.svg);
  opacity: 1;
}

.vk:focus {
  background-image: url(../img/vk-2.svg);
  opacity: 1;
  outline: none;
}

.telegram:focus {
  background-image: url(../img/telegram-2.svg);
  opacity: 1;
  outline: none;
}

.youtube:focus {
  background-image: url(../img/youtube-2.svg);
  opacity: 1;
  outline: none;
}

.vk:active {
  opacity: 0.3;
}

.telegram:active {
  opacity: 0.3;
}

.youtube:active {
  opacity: 0.3;
}

.page-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-top: 20px;
}

.page-footer-phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-form-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.main-index .hero-block-filter.container {
  background: #8cb2d0 url(../img/background-catalog.jpg);
  padding: 35px 70px 55px 70px;
  margin-bottom: 33px;
  margin-top: -16px;
  background-size: cover;
  min-height: 412px;
  background-repeat: no-repeat;
}


.hero-block-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 7px;
}

.catalog-page .active-link::after {
  width: 77%;
  margin-left: 0px;
  top: 5px;
}

.catalog-page .navigation {
  margin-top: -15px;
}

.catalog-page .logo-wrapper {
  margin-right: 30px;
}

.breadcrumbs-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  position: relative;
}

.breadcrumbs-home-icon.breadcrumbs-item {
  width: 12px;
  height: 12px;
  background-size: cover;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  padding: 0;
}

.control, .control-radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
}

.controls-price-min {
  border-radius: 4px 0px 0px 4px;
}

.controls-price-max {
  border-radius: 0px 4px 4px 0px;
}

.controls-price-min, .controls-price-max {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  width: 143px;
  position: relative;
  background: #F2F2F2;
  border: none;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.controls-price-min:hover, .controls-price-max:hover {
  opacity: 1;
  background: #E6E6E6;
}

.catalog-filter-range-controls-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  gap: 2px;
}

.price-min-wrapper, .price-max-wrapper {
  position: relative;
}

.price-min-wrapper label {
  position: absolute;
  z-index: 5;
  top: 14px;
  right: 18px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.price-max-wrapper label {
  position: absolute;
  z-index: 5;
  top: 14px;
  right: 20px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.catalog-filter-scale {
  width: 100%;
  height: 4px;
  background: #63696d;
  position: relative;
}

.catalog-filter-bar {
  background: #ffffff;
  height: 4px;
  width: 208px;
  left: 7px;
  position: relative;
}

.range-toggle {
  background: #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  border: none;
}

.range-toggle.range-toggle-min {
  top: -8px;
  left: 0;
}

.range-toggle.range-toggle-max {
  right: 60px;
  top: -8px;
}

.range-toggle.range-toggle-min:hover, .range-toggle.range-toggle-max:hover {
  opacity: 1;
  transform: scale(1.1);
} 

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-button {
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 50px;
  border: none;
}


.button-apply {
  margin-top: 56px;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
}

.button-reset {
  background: inherit;
  font-family: "PT Sans", sans-serif;
}

.hotel-catalog-carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
  padding: 0;
}

.hotel-catalog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.hotel-catalog-search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  margin-right: 187px;
  max-width: 350px;
}

.dropdown-costs {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 14px 20px;
  min-width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 260px;
  font-family: "PT Sans", sans-serif;
}

.hotel-catalog-header-dropdown {
  margin-right: 58px;
}

.filter-icons-item {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: inherit;
}

.filter-icons-item:hover {
  border: 2px solid #000000;
  opacity: 1;
}

.filter-icons-item:focus {
  border: 2px solid #68A2CA;
  outline: inherit;
}

.filter-icons-item:active {
  border: 2px solid #000000;
}

.filter-icons-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 180px;
  list-style: none;
  padding: 0;
}

.view-web {
  background-image: url(../img/filter-blocks.svg);
  background-repeat: no-repeat;
}

.view-huge {
  background-image: url(../img/filter-big-block.svg);
  background-repeat: no-repeat;
}

.view-list {
  background-image: url(../img/filter-list.svg);
  background-repeat: no-repeat;
}   

.filter-icons-item {
  background-position: center;
  display: block;
}

.view-web.active {
  border: 2px solid #000000;
}

.hotel-catalog-carts-item {
  padding: 20px 20px 19px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-bottom: 18px;
  box-sizing: border-box;
  width: 340px;
  overflow: hidden;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column: span 2;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.hotel-type {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  font-family: "PT Sans", sans-serif;
}

.hotel-raiting-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  padding: 9px 17px;
  background: #F2F2F2;
  border-radius: 4px;
  max-width: 140px;
  text-align: center;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.hotel-read-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 15px;
  background: #756157;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-decoration: none;
}

.hotel-to-favourite {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 10px;
  background: #82B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
}

.catalog-carts-item-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 16px 19px;
  align-items: center;
}

.hotel-read-more.brown-button {
  min-height: inherit;
}

.brown-button {
  text-decoration: none;
}

.hotel-stars {
  background-image: url(../img/star.svg);
  height: 100%;
  background-repeat-y: no-repeat;
  background-position: center left;
}

.hotel-stars.four-stars  {
  width: 89px;
  background-repeat: space no-repeat;
}


.hotel-stars.three-stars {
  width: 65px;
  background-repeat: space no-repeat;
}

.hotel-stars.two-stars {
  width: 41px;
  background-repeat: space no-repeat;
}

.hotel-catalog-carts-item:last-child {
  margin-bottom: 38px;
}

.pagination-box-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
}

.pagination-box {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.pagination-box-item.current-page {
  background: #F2F2F2;
  color: #000000;
}

.pagination-box-item.white-block {
  color: #000000;
  background: inherit;
}

.catalog-page .email-block-title, .catalog-page .email-block-decription {
  color: #000000;
}

.catalog-page .email-block.container {
  background: inherit;
}

.search-popup-fieldset {
  border: none;
}

.search-popup-form {
  max-width: 717px;
  height: 576px;
  margin: 0 auto;
  padding: 54px 70px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.search-popup-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.search-popup-label {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}


.search-popup-title-age span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}

.hover-info {
  display: none;
}

.search-popup-date-check-in.search-popup-item {
  display: flex;
  margin-bottom: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.date-check-in-input, .date-check-out-input {
  min-width: 437px;
  background: #F2F2F2;
  border-radius: 4px;
  border: inherit;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
  font-family: "PT Sans", sans-serif;
}

.date-check-in-input, .date-check-out-input {
  background: #E6E6E6;
}

.date-check-in-input::-webkit-input-placeholder, .date-check-out-input::-webkit-input-placeholder {
  color: #666666;
}

.search-popup-date-check-out.search-popup-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
  position: relative;
  align-items: center;
}

.people-number-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.search-popup-number.search-popup-item {
  display: flex;
}

.search-popup-title-age {
  display: flex;
  position: relative;
}

.search-popup-number-wrapper {
  width: 110px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-popup-number-text {
  width: 31px;
}

span.children-info {
  width: 26px;
  height: 26px;
  background: #83B3D3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-transform: inherit;
  cursor: pointer;
}

.search-popup-number.search-popup-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset.search-popup-fieldset {
  padding: 0;
}

.search-popup-button.button {
  width: 100%;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  border: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.search-popup-button.button:hover {
  background: #68A2CA;
  opacity: 1; 
}

.search-popup-button.button:focus {
  opacity: 1;
  background: #68A2CA; 
}

.search-popup-button.button:active {
  opacity: 1;
  outline: none;
  color: #b4c9dc; 
}

.error-message {
  position: absolute;
  bottom: -25px;
  right: 139px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.info-message {
  position: absolute;
  bottom: -30px;
  right: 89px;
}

span.calendar-icon {
  background-image: url(../img/calendar-icon.svg);
  width: 15px;
  height: 15px;
  background-size: contain;
  position: absolute;
  right: 21px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.search-popup-title-age {
  margin-right: 46px;
}

input.search-popup-number-text {
  height: 48px;
  padding: 0;
  background: #F2F2F2;
  border-radius: 4px;
  border: inherit;
  width: 31px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

span.children-title {
  margin-right: 10px;
}

.number-minus-wrapper button {
  background-image: url(../img/minus.svg);
  height: 14px;
  width: 14px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.number-minus-wrapper button:hover {
  background-image: url(../img/minus-2.svg);
}

.number-minus-wrapper button:focus {
  background-image: url(../img/minus-2.svg);
}

.number-plus-wrapper button {
  background-image: url(../img/plus.svg);
  height: 14px;
  width: 14px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.number-plus-wrapper button:hover {
  background-image: url(../img/plus-2.svg);
}

.number-plus-wrapper button:focus {
  background-image: url(../img/plus-2.svg);
}

.number-plus-wrapper, .number-minus-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-info:hover ~ .hover-info {
  display: block;
  position: absolute;
  min-width: 219px;
  min-height: 109px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 17px 18px 18px 22px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  top: 42px;
  left: -58px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}

.hover-info::before {
  content: "";
  background-image: url(../img/triangle-icon.svg);
  width: 19px;
  height: 9px;
  display: block;
  position: absolute;
  top: -9px;
  z-index: 5;
  left: 120px;
  background-repeat: no-repeat;
}

.popup-switcher {
  display: none;
}

article.search-popup {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  padding-top: 100px;
  background: #ffffffdb;
  z-index: 15;
  padding-bottom: 200px;
}

.close-popup.open-popup.close-icon-popup-search {
  display: block;
  width: 52px;
  height: 52px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50px;
}

.close-wrapper {
  width: fit-content;
  background: #F2F2F2;
  border-radius: 50px;
  position: relative;
  right: -17px;
  bottom: -6px;
}

.search-popup-header {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brown-button:hover {
  background: #615048;
  opacity: 1;
}

.brown-button:focus {
  background: #615048;
  opacity: 1;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.brown-button:disabled {
  background: #E5E5E5;
  opacity: 1;
}

.blue-button:hover {
  background: #68A2CA;
  opacity: 1;
}

.blue-button:focus {
  background: #68A2CA;
  opacity: 1;
  outline: none;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.blue-button:disabled {
  background: #E5E5E5;
  opacity: 1;
}

.green-button {
  background: #7DB54F;
  opacity: 1;
}

.green-button:hover {
  background: #6C9E42;
  opacity: 1;
}

.green-button:focus {
  background: #6C9E42;
  opacity: 1;
  outline: none;
}

.green-button:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.green-button:disabled {
  background: #E5E5E5;
  opacity: 1;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 0.1;
}

.dropdown-costs {
  background: #ffffff;
}

.dropdown-costs:hover {
  border: 2px solid #68A2CA;
}

.dropdown-costs:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #83B3D3 solid 2px;
  outline-offset: -2px;
}

.dropdown-costs:active {
  opacity: 1;
  box-sizing: border-box;
  outline: #3F5E72 solid 2px;
  outline-offset: -2px;
} 

.dropdown-costs:disabled {
  box-sizing: border-box;
  outline: #3F5E72 solid 2px;
  outline-offset: -2px;
  opacity: 0.3
}

.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.control-input:checked + .control::before {
  background-image: url(../img/ok.svg);
  outline: #83B3D3 solid 2px;
  background-repeat: no-repeat;
}

.control-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-radio::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 14px;
  background: #FFFFFF;
  box-sizing: border-box;
}

.control-radio-input:checked + .control-radio::before {
  outline: #83B3D3 solid 2px;
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
}           

.control:hover, .control-radio:hover {
  opacity: 0.6;
}

.control-input:focus + label::before {
  outline: 3px solid #83B3D3;
}

.control-radio-input:focus + label::before {
  outline: 3px solid #83B3D3;
}

.control:active, .control-radio:active {
  opacity: 0.3;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.controls-price-min:active, .controls-price-max:active {
  opacity: 1;
  outline: #000000 solid 3px;
}

.page-footer-phone {
  text-decoration: none;
}

.page-footer-phone:hover {
  opacity: 1;
  color: #756157;
}

.page-footer-phone:focus {
  outline: none;
  color: #756157;
}

.page-footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-copyright-link {
  display: block;
  width: 115px;
  height: 33px;
}

.current-page:hover, .pagination-box .white-block:hover {
  opacity: 1;
  background: inherit;
}

.current-page:focus, .white-block:focus {
  opacity: 1;
  outline: inherit;
}

.pagination-box .white-block:active {
  opacity: 1;
  background: inherit;
  color: inherit;
}

.pagination-box-item.white-block:focus {
  opacity: 1;
  background: inherit;
  color: inherit;
}

.pagination-box-item.current-page:active {
  opacity: 1;
  background: inherit;
  color: inherit;
}

.pagination-box-item.current-page:hover {
  opacity: 1;
  background: #F2F2F2;
}

.pagination-box-item.current-page:focus {
  opacity: 1;
  background: #F2F2F2;
}

.pagination-box-item {
  text-decoration: none;
}

.pagination-box-item:hover {
  opacity: 1;
  background: #68A2CA;
}

.pagination-box-item:focus {
  opacity: 1;
  background: #68A2CA;
  outline: inherit;
}

.pagination-box-item:active {
  opacity: 1;
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  text-decoration: none;
}

.breadcrumbs-item:hover {
  opacity: 1;
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus {
  opacity: 1;
  outline: none;
}

.breadcrumbs-item:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}

.active-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 71%;
  height: 100%;
  top: 1px;
  margin-left: -2px;
  border-bottom: 2px solid #756257;
  z-index: 5;
}

a.navigation-link:focus {
  outline-offset: -8px;
}

.close-wrapper:hover {
  background: #E6E6E6;
}

.close-wrapper button:focus {
  opacity: 1;
  outline: #83B3D3 solid 3px;
  outline-offset: 0;
  border-radius: 50%;
}

.close-wrapper button:active {
  opacity: 0.3;
}

.navigation {
  min-height: 43px;
  align-self: center;
}

.body-wrapper-inner {
  width: 1200px;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-index {
  flex-grow: 1;
  background: #ffffff;
}

.page-header {
  background: #ffffff;
}

.infrastructure-group {
  margin-right: 71px;
}

.house-group {
  margin-right: 152px;
}

.range {
  margin-right: 70px;
}

.hotel-catalog-carts-item-img {
  margin-bottom: 7px;
  width: 100%;
  object-fit: cover;
}

.catalog-page .email-block-title {
  margin-top: -8px;
}

.catalog-page .page-footer {
  margin-top: 5px;
}

.page-footer {
  margin-top: 3px;
}

.advantage-item:last-child .advantage-item-title {
  position: relative;
  top: -3px;
}

.page-footer-social-list {
  margin-top: 16px;
}

.catalog-page .signup-email-input {
  background: #F2F2F2;
}

span.breadcrumbs-item:hover {
  color: #FFFFFF;
}

.breadcrumb-arrow::before {
  content: ">";
  margin-right: 11px;
}

.navigation-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 43px;
  max-width: 600px;
  margin-top: 0;
}

.catalog-page .navigation-link {
  padding: 14px 14px;
}

.catalog-page .email-block {
  margin-top: 0;
}

.page-footer-copyright-link:hover path {
  fill: #756157;
}

.page-footer-copyright-link:focus path {
  fill: #756157;
}

.page-footer-copyright-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.item-home .advantage-item-title::before {
  content: "";
  background: url(../img/home.svg);
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  top: -3px;
  display: block;
}

.item-food .advantage-item-title::before {
  content: "";
  background: url(../img/food.svg);
  width: 74px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  top: -3px;
  display: block;
}

.item-present .advantage-item-title::before {
  content: "";
  background: url(../img/present.svg);
  width: 64px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  top: 0;
  display: block;
}